.recipeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.recipeBlock {

  background-color: var(--orange);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  
  a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    margin-top: 0;

    img {
      width: 100%;
      height: 175px;
      object-fit: cover;
      border-radius: 10px;
      display: block;
    }

    h4 {
      color: var(--onyx);
      padding-top: 5px;
    }

  }
}