section {
    width: 100%;

    &#salesBackGround {
        background-color: var(--light-green);
    }

    div {
        a {
            color: var(--dark-green);
            margin: 0.5rem 0;
        }

        &#categories {
            display: flex;
            justify-content: space-between;
        }

        &#sales {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
                border: 0.05rem solid var(--dark-green);
                box-shadow: 0 2px 6px var(--dark-green);
                border-radius: 5px;
                margin: 10px 0;
                background-color: white;

            }
        }

        &#shop {
            min-height: 40vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;

            div.shop {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 2rem;

                div.product {
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                    border: 0.05rem solid var(--dark-green);
                    border-radius: 5px;
                    box-shadow: 0 2px 6px var(--dark-green);

                    h5 {
                        max-width: fit-content;
                        margin: 1rem auto;
                        color: var(--dark-green);

                    }

                    img {
                        display: block;
                        width: 14rem;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        border-radius: 5px;
                    }

                    p.price {
                        background-color: var(--light-green);
                        max-width: fit-content;
                        margin: 1rem auto;
                        padding: 0.5rem;
                        border-radius: 5px;
                        /* box-shadow: 0 2px 3px var(--dark-green); */
                    }
                }

            }

        }

        &#product {
            display: flex;
            align-items: center;
            padding: 1rem 0;

            div#photo {
                flex: 1;

                img {
                    width: 90%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: 5px;

                }
            }

            div#details {
                flex: 1;
                display: flex;
                flex-direction: column;
                color: var(--dark-green);

                div#order {
                    display: flex;

                    div.quantity {
                        display: flex;

                        input#qty {
                            width: 3rem;
                            height: 3rem;
                            padding: 5px 0;
                            margin: 0.5rem 0;
                        }
                    }

                    button {
                        display: flex;
                        align-items: center;

                        &.shoppingcar {
                            margin-left: 2rem;

                        }


                        img {
                            width: 2rem;

                        }
                    }


                }

            }


        }
    }


}