section {
    width: 100%;

    &#salesBackGround {
        background-color: var(--light-green);
    }

    div {
        a {
            color: var(--dark-green);
            margin: 0.5rem 0;
        }

        &#categories {
            display: flex;
            justify-content: space-between;
        }

        &#sales {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
                border: 0.05rem solid var(--dark-green);
                box-shadow: 0 2px 6px var(--dark-green);
                border-radius: 5px;
                margin: 10px 0;
                background-color: white;

            }
        }

        &#shop {
            min-height: 40vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;

            div.shop {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 2rem;

                div.product {
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                    border: 0.05rem solid var(--dark-green);
                    border-radius: 5px;
                    box-shadow: 0 2px 6px var(--dark-green);

                    h5 {
                        max-width: fit-content;
                        margin: 1rem auto;
                        color: var(--dark-green);

                    }

                    img {
                        display: block;
                        width: 14rem;
                        aspect-ratio: 1/1;
                        object-fit: cover;
                        border-radius: 5px;
                    }

                    p.price {
                        background-color: var(--light-green);
                        max-width: fit-content;
                        margin: 1rem auto;
                        padding: 0.5rem;
                        border-radius: 5px;
                        /* box-shadow: 0 2px 3px var(--dark-green); */
                    }
                }

            }

        }

        &#product {
            display: flex;
            align-items: center;
            padding: 1rem 0;

            div#photo {
                flex: 1;

                img {
                    width: 90%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: 5px;

                }
            }

            div#details {
                flex: 1;
                display: flex;
                flex-direction: column;
                color: var(--dark-green);

                form#order {
                    display: inline-flex;
                    align-items: center;

                    div.quantity {
                        display: inline-flex;
                        align-items: stretch;
                        border: 2px solid var(--dark-green);
                        border-radius: 5px;
                        overflow: hidden;
                        padding: 0;
                        height: 2.2rem;

                        input#qty {
                            appearance: textfield;
                            border: none;
                            width: 3rem;
                            text-align: center;
                            font-size: 1.4rem;
                            line-height: 2.5rem;
                            height: 100%;

                        }
                    }

                    button {
                        display: flex;
                        align-items: center;


                        &.shoppingcart {
                            margin-left: 2rem;

                        }


                        img {
                            width: 2rem;

                        }
                    }


                }

            }


        }
    }


}

/* shopping cart popup view */
div#cart-popup {
    display: flex;
    flex-direction: column;
    background-color: var(--light-green);
    min-height: 100vh;
    width: 25%;
    z-index: 1000;
    /*boven de rest */
    margin-left: auto;
    padding: 0 1rem;

    div.miniHeader {
        border-bottom: 2px solid var(--dark-green);
        display: flex;
        justify-content: space-between;
    }

    h3 {
        margin-top: 0.5rem;
    }

    p {
        margin-top: 0.5rem;
        color: var(--dark-green);
        font-size: 1.2rem;
    }

    div.orderrow {
        display: flex;
        justify-content: space-between;


        img {
            display: block;
            width: 4rem;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 5px;
        }

        button.delete {
            width: 15px;
            height: 20px;
            font-size: 1rem;
            padding: 0;
            padding-bottom: 2px;
        }
    }


}